/* Base */
:root {
    --primary-color: #916395;
    --secondary-color: #B4C4AE;
    --tertiary-color: #f0f1d5;
    --accent-color: #0B0014;
    --highlight-color: #F0544F;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  background:var(--primary-color);
  color: var(--tertiary-color);
  overflow-x: hidden;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header,
.section {
  width: 100%;
  padding: 40px 0;
  overflow: hidden;
}

.header::after,
.header::before,
.section::after,
.section::before {
  content: "";
  background: url('img/OAK41Y0.jpg');
  position: absolute;
  width: 400px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
}

.header::after {
  left: -200px;
}

.header::before {
  right: -200px;
}

.mb {
  margin-bottom: 30px;
}

.mt {
  margin-top: 20px;
}

.section {
  background: var(--accent-color);
  position: relative;
  padding: 80px 0;
}

.section::after {
  left: -200px;
}

.section::before {
  width: 600px;
  right: -200px;
}

.section:nth-child(even) {
  background: var(--accent-color);
}

.section:nth-child(even)::after,
.section:nth-child(even)::before {
  display: none;
}

.primary {
  font-size: 35px;
  font-weight: 700;
}

.secondary {
  font-size: 25px;
  font-weight: 700;
}

.tertiary {
  font-size: 15px;
  font-family: 'Roboto', sans-serif; 
}
/* End Base */

/* Menu */
.menu {
  width: 100%;

  padding: 6px 0;
}

.menu .container {
  justify-content: space-between;
}

.mobile-btn {
  display: none;
}

.logo {
  cursor: pointer;
}

.logo img {
  width: 66px;
  height: auto;
}

.navbar-brand  {
  display: flex;
  align-items: center;
  font-size: 38px; 
  font-weight: bold;
  color: var(--tertiary-color);
  font-family: 'Roboto', sans-serif; 
  text-decoration: none;
}
.brand-name {
  font-size: 18px;
  font-weight: bold;
  color: var(--tertiary-color);
}
.nav {
  list-style: none;
}

.nav-item {
  display: inline-block;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 700; 
  font-family: 'Roboto', sans-serif; 
}

.nav-item a {
  text-decoration: none;
  color: var(--tertiary-color);
}

.nav-item:hover a {
  color: var(--highlight-color);
  transition: 0.3s linear;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}

.hamburger-menu {
  display: flex;
  justify-content: flex-end;
  float: inline-end;
}

.menu__btn {
  position: fixed;
  top: 38px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1001;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  left: auto;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: var(--secondary-color);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  z-index: 10;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: var(--accent-color);
  font-family: 'Roboto', sans-serif; 
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: var(--highlight-color);
}

#menu__toggle:checked ~ .header {
  margin-top: 50px; 
}

  @media (min-width: 768px) {
    .navbar .nav-links {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .hero h1 {
        font-size: 2.5rem;
    }
}
@media (max-width: 968px) {
  .nav,
  #btn-contactus {
      display: none;
  }

  .hamburger-menu {
      display: block;
  }


  .logo,
  .hamburger-menu {
      display: flex;
      align-items: center;
  }
}
/* End Menu */

/* Buttons */
.btn {
  padding: 10px 28px;
  background: var(--primary-color);
  border-radius: 40px;
  font-size: 20px;
  font-weight: 600; 
  text-decoration: none;
  color: var(--tertiary-color);
  display: inline-block;
}

.btn:hover {
  background: var(--highlight-color);
  transition: 0.3s linear;
  color: var(--accent-color);
}

.btn-2 {
  font-size: 35px;
  text-decoration: none;
  color: var(--tertiary-color);
  transition: 0.3s linear;
}

.btn-2:hover {
  color: var(--highlight-color);
}

#btn-contactus {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  transition: 0.3s linear;
}

#btn-contactus:hover {
  color: var(--accent-color);
  transition: 0.3s linear;
  background: var(--highlight-color);
}

/* End Buttons */

/* Header */
.text {
  width: 60%;
  position: relative;
  text-align: center;
  z-index: 1;
}

.visual {
  width: 40%;
}

.visual img {
  width: 100%;
}

.header h1 {
  font-size: 60px;
  font-weight: 750;
}

.header h1 span {
  color: var(--primary-color);
}

.back-video {
  position: absolute;
  top: 78px;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover; 
  z-index: -1; 
}

/* End Header */

.section:nth-child(even) .visual {
  margin-right: 30px;
}

/* Why Us */
#why-us {
  padding: 30px 0;
}

#why-us .btn.mt {
  margin-top: 20px; 
  margin-bottom: 20px;
}

/* Explore */
#explore .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

#explore .text {
  width: 100%;
  padding: 20px;
}

.back-explore-video {
  position: absolute;
  right: -30%;
  bottom: -30%;
  top: -120%;
}

/* Trainer */
#trainer {
  text-align: center;
}

.trainer {
  margin: auto;
}

.trainer img {
  border-radius: 50%; 
  margin-bottom: 10px;
  border: 4px solid var(--tertiary-color); 
  padding: 6px; 
  width: 200px; 
  height: 200px; 
  object-fit: cover; 
}

.trainer .mb {
  margin-bottom: 10px;
}

/* End Trainer */

/* Discount */
#discount {
  padding: 40px 0;
  background-color: var(--secondary-color);
  color: var(--accent-color);
}

/* End Discount */

/* Footer */
/* Footer Styles */
.footer {
  background-color: var(--accent-color);
  color: var(--tertiary-color);
  padding: 40px 0;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.newsletter {
  flex: 1 1 100%;
  text-align: center;
  margin-bottom: 20px;
}

.newsletter-signup {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.newsletter-signup input {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 300px;
}

.newsletter-signup button {
  padding: 10px;
  border: none;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.newsletter-signup button:hover {
  background: var(--highlight-color);
  transition: 0.3s linear;
  color: var(--accent-color);
}

.footer-info {
  display: flex;
  justify-content: space-between;
  flex: 1 1 100%;
  margin-bottom: 20px;
}

.footer-info .map {
  flex: 1;
  margin-right: 20px;
}

.map iframe {
  width: 400px;
  height: 300px;
}

.contact-details {
  flex: 1;
  text-align: right;
}

.contact-details .social-links {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.contact-details .social-links a {
  margin-left: 10px;
  color: var(--tertiary-color);
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  flex: 1 1 100%;
}

.menu-column, .operational {
  flex: 1;
}

.menu-column h4, .operational h4 {
  margin-bottom: 10px;
}

.menu-column a, .operational p {
  display: block;
  color: var(--tertiary-color);
  margin-bottom: 5px;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

/* End Footer */

/* Features.html styling */


/* Content Section */
#features-content-section {
  background-color: var(--accent-color); 
  color: var(--tertiary-color); 
  margin-bottom: 30px;
}

/* Schedule Specific */
.schedule-section {
  padding: 40px 0;
  background-color: var(--primary-color);
  margin-top: -48px;
  color: var(--tertiary-color);
}

.schedule-section h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.schedule-section .tabs {
  margin-bottom: 20px;
}

.schedule-section .tablinks {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
}

.schedule-section .tablinks:hover {
  background-color: var(--highlight-color);
}

.schedule-section .tabcontent {
  display: none;
}

.schedule-section .tabcontent.active {
  display: block;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
}

.schedule-table th,
.schedule-table td {
  padding: 10px;
  border: 1px solid var(--highlight-color);
  text-align: center;
}

.schedule-table th {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.schedule-table td {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}


/* Trainers Section */
#trainers {
  padding: 50px 0;
  background-color: var(--accent-color); 
  text-align: center;
}

.trainers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  justify-items: center;
  align-items: center;
  margin-bottom: 20%;
}

.trainer {
  position: relative;
  background-color: var(--accent-color);
  border-radius: 10px;
  box-shadow: 0 4px 10px var(--secondary-color);
  padding: 30px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.trainer-avatar {
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid var(--highlight-color); 
}

.trainer-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trainer-info h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--tertiary-color);
}

.trainer-info p {
  font-size: 1rem;
  color: var(--tertiary-color);
}

.trainer:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px var(--secondary-color);
}

.trainer.active .trainer-avatar {
  border-color: var(--highlight-color); 
}

/* Modal styling */
.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color:var(--accent-color);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  text-align: center;
  position: relative;
  color: var(--accent-color);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: var(--accent-color);
  font-size: 24px;
  cursor: pointer;
}

.trainer-avatar-large img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 5px solid var(--highlight-color);
}


/* Responsive */
@media (max-width: 768px) {
  .header h1 {
    font-size: 45px;
  }

  .primary {
    font-size: 28px;
  }

  .secondary {
    font-size: 22px;
  }

  .tertiary {
    font-size: 14px;
  }

  .schedule-table th,
  .schedule-table td {
    font-size: 14px;
  }
}

@media (max-width: 530px) {
  .header h1 {
    font-size: 34px;
  }

  .primary {
    font-size: 25px;
  }

  .secondary {
    font-size: 20px;
  }

  .tertiary {
    font-size: 12px;
  }

  .schedule-table th,
  .schedule-table td {
    font-size: 12px;
  
  }
}



/* Contact Form styles */
.form {
  width: 100%;
  max-width: 600px;
  margin: 2rem auto;
  background-color: var(--accent-color);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.form label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--tertiary-color);
  font-weight: bold;
}

.form input,
.form select,
.form textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid var(--highlight-color);
  border-radius: 5px;
  font-size: 1rem;
  background-color: var(--secondary-color);
  color: #000000;
}

.form input:focus,
.form select:focus,
.form textarea:focus {
  border-color: var(--highlight-color);
  outline: none;
}

.form button {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.form button:hover {
  background-color: var(--highlight-color);
  color: var(--accent-color);
}

#form-section {
  background-color: var(--accent-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}




/*Membership styling */
/* Membership Section */
/* Membership Cards */
/* Membership Cards */
.membership-section {
  background-color: var(--accent-color);
  text-align: center;
  color: var(--secondary-color);
  padding: 25px;
}
/* Membership Cards */
.membership-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  align-items: stretch;
}

/* Individual Card Styling */
.card {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: var(--accent-color);
  flex: 1 1 calc(25% - 20px); 
  min-width: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card .price {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0;
}

.card .btn {
  margin-top: 15px;
}

/* Responsive Adjustments */
@media (max-width: 1000px) {
  .card {
      flex: 1 1 calc(50% - 20px); 
  }
}

@media (max-width: 768px) {
  .card {
      flex: 1 1 100%; 
  }
}
.black-background-spacer {
  height: 638px; 
  background-color: var(--accent-color);
}


@media (max-width: 768px) {
  .black-background-spacer {
      height: 50px;
  }
}



/*Explore modal section  */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0; 
  top: 0; 
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: var(--secondary-color); 
  margin: 15% auto; 
  padding: 20px; 
  border: 1px solid #888; 
  width: 80%; 
}

.close-btn {
  color: var(--accent-color); 
  float: right; 
  font-size: 28px; 
  font-weight: bold; 
}

.close-btn:hover,
.close-btn:focus {
  color: black; 
  text-decoration: none; 
  cursor: pointer; 
}

.trainer-avatar-large img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

#modalTrainerInfo p {
  margin: 5px 0;
}
/* Contact Styling */
.trainer-card .contact {
  font-weight: bold;
  color: var(--accent-color);
}

/* Hover Effect */
.trainer-card:hover {
  transform: scale(1.05); 
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .trainer-card {
      width: 100%; 
      max-width: 300px; 
      margin-bottom: 20px;
  }
}

/* Popup Form */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5); 
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: var(--accent-color);
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  margin: auto;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}


/* Membership popup form styling */
.black-text-form {
  color: black;
}

.black-text-form label,
.black-text-form input,
.black-text-form textarea,
.black-text-form select {
  color: black;
}

.black-text-form input::placeholder,
.black-text-form textarea::placeholder {
  color: black; 
}

.black-text-form input:focus,
.black-text-form textarea:focus,
.black-text-form select:focus {
  color: black;
  border-color: black; 
  outline:none;
}